{{#each this}}
    <li class="country-list__item">
            <img src="{{this.flags.svg}}" alt="{{this.flags.alt}}" width="40px" class="country-list__picture">
            <p>{{this.name.official}}</p>
    </li>
{{/each}}